
<div class="cards col-md-4">
  <div class="box">
    <h1>{{title}}</h1>
    <div class="date">
    NEWS: {{createdAt}}
    </div>
    <div class="postContent">
      {{post_content}}
    </div>
    <div class="createdBy">
      <div class="name">
      -<span>{{user.username}}</span>
      </div>
      <div class="readmore">
        <a href = "/blogpost/{{id}}" class = "blogpost"><i class="fas fa-arrow-right"></i></a>
      </div>

    </div>
  </div>
</div>